:root {
    /* Theme Colors */
    --main-color: #3D6F94;
    --main-shade: #001f44;
    --secondary-color: #76BDF2;
    --off-white-color: #F8F8F8;
    --gray: #a0aec0;
    --light-red: #fc8181;
}

.nav-padding {
    padding-top: 40px;
}

input {
    @apply border border-gray-300 p-2 mb-2;
}

input:focus {
    @apply border-gray-500;
    outline: none;
}

.edit-icon:hover {
    color: var(--secondary-color);
    cursor: pointer;
}